* {
    font-family: 'Roboto Condensed', sans-serif; 
}

body {
    background-color: black;
    object-fit: contain;
    color: white;
    margin-top: 10px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

#green {
    color: #00ADEE;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00ADEE;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 92px;    
}


a:hover {
    font-style: bold;
    font-size: large;
    font-weight: bolder;
}

a {
    color: white;
    text-decoration: none;

}

a:visited {
   text-decoration: none;
}