* {
    font-family: 'Roboto Condensed', sans-serif; 
}


body {
    box-sizing: border-box;
    margin: 0px;
    margin-top: 8px;
    background-color: rgba(192, 197, 199, 0.016);    
  
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
} 

.header {
    display: flex;
    justify-content: space-between;
    height: 220px;
    position: sticky;
    top: 0px; 
} 

.headerContainer {
    display: flex;
    justify-content: center; 
    margin-left: 33%;
}

.pic {
    display: flex;
    justify-content: center;
    object-fit: contain;

}

.profil {
    width: 160px;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    object-fit: cover;
    border-radius: 60%;
    margin: 20px;
  /*   border: 1px solid hotpink;
    -webkit-box-shadow: 0px 0px 20px 2px hotpink;
    -moz-box-shadow: 0px 0px 20px 2px hotpink;
    -moz-box-shadow: 0px 0px 20px 2px hotpink;
    -ms-box-shadow: 0px 0px 20px 2px hotpink;
    -o-box-shadow: 0px 0px 20px 2px hotpink;
    box-shadow: 0px 0px 20px 2px hotpink;
 */
}
#medieinstitutetPic {
    width: 40%;
    margin: 0px;
}
.headerName {

    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column; 
    margin-left: 4px;
    flex: 1 0 50%;
      
}

.marginTop {
    margin-top: 4px;
    padding-bottom: 2px;
}

#green {
     color: #00ADEE; 
} 
#blue {
    color: #00ADEE; 
} 

 #greenIcon {
     color: #00ADEE;
 }

h1 {
    margin-block-start: 0px;
}



.line {
    padding-left : 15%;
    padding-right: 15%;
    background-color: #00ADEE;
    height:2px;
    width:70%;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
    position: fixed;
    flex-wrap: wrap;
    text-align: center;
    position: sticky;
    margin-top: 15px;
    margin-bottom: 15px;
    color: lightslategray;
}

nav .one {
    border-radius: 25px;
    padding: 10px;
    width: auto;
    height: auto;
    margin: 3px;  
}

.menu a {
    text-decoration: none;
    color: white; 
    background-color: #00ADEE;

} 

.menu a:visited {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    font-style: bold;
    color: white;
    font-weight: bolder;
    background: black;
} 

a {
    color: black;
    
}

a:link {
    text-decoration: none;
}


a:hover {
    color: #00ADEE;
    font-weight: bolder;
}  

.main {
    display: flex;
    position: fixed; 
    width: 100vw;
    height: 320px;
    padding-top: 20px; 
    object-fit: contain;
    background-image: url(/bilder/spotify-main.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100px;
    
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.margin {
    margin-top: 30px;
}

.marginTwo {
    margin-top: 50px;
    margin-bottom: 20px;
}

.greenHover a:hover {
    font-style: bold;
    color: #00ADEE;
}

#sherin {
    color: #00ADEE;
    margin-bottom: 0px;
}
 .noMargin {
    margin-top: 0px;
    margin-bottom: 0px;
 }

 h2 {
    margin: 0px;
 }

div.scroll {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    
    height: 40vh;
    width: 100vw; 
    overflow-y: auto;
}

#endTags {
    margin-top: 0px;
    margin-bottom: 10px;
}

#pic {
    background-image: url(/sky.jpg);
}

.divColumn {
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin-top: 15px;
}

.main .left {
    float: left;
}
.main .right {
    float: right;
}

#topThree {
    padding-left: 30px;
}

#lista{
    padding-left: 30px;
}
 

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00ADEE;
    color:black;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 70px; 
    margin-bottom: 10px;   
}

.skyPic {
    position: relative;
    height: 100%;
}
#sky{
    /* position: absolute; */
}
.links{
    display: flex;
    flex-direction: column;
 position: absolute;
 font-weight: bold;
 z-index: 999;
}
#endTags > a{
    margin:10px;
}
#endTags{
    margin:5px;
}
.links a:hover{

    font-size: 20px;
    color: white!important;
}
.referenserDiv {
    display: flex;
    justify-content: inherit;
    font-size: 15px;
    font-weight: 700;
    width: 200px;
    border-radius: 25px;
    border: 2px solid #00ADEE;
    padding: 6px;
    width: auto;
    height: auto;
    margin-top: 2px;
}


 
.text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
    color: #00ADEE;
    font-size: small;

}
/* för att få ner text */   👇
.introduction{
    /* margin-top: 130px; */

}

@media (max-width:200px) {
    img{
        width: 70px;
        height: 700px;
    }
    
}


